body{ background-color: #777;}

#header { 
    background-color: #ebebeb ; 
    font-family: Arial, Helvetica, sans-serif; 
    color: #777; 
    width: 960px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px; margin-left: auto; margin-right: auto;
    height: 60px;
    padding-top: 20px;
}

#nav {
    background-color: #ebebeb ; 
    font-family: Arial, Helvetica, sans-serif; 
    color: #777; 
    width: 960px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;margin-left: auto; margin-right: auto;
    height: 60px;
    padding-top: 20px;}     

#page{ width: auto;
margin: auto;
width: 960px;}

    #section {
    
    background-color: #ebebeb ; 
    font-family: Arial, Helvetica, sans-serif; 
    color: #777; 
    width: 495px;
    font-size: 18px;
    text-align: center;
    padding-right: 20px;
    padding-top: 28px;
    height: 313px;
float: left;}

#aside {background-color: #ebebeb ; 
    font-family: Arial, Helvetica, sans-serif; 
    color: #777; 
    width: 419px;
    font-size: 18px;
    text-align: center;
    height: 320px;
    padding-top: 20px;
    margin-left: 25px;
    margin-bottom: 20px;
float: left;
}

    #article { clear:both;
        background-color: #777; 
        color: #ebebeb;
         margin-left: 19px; 
        height: 190px;
        padding-top: 17px;
        margin-top: 65px;}
    
    #p{ margin-top: 10px;
        margin-bottom: 10px; 
        margin-left: 10px;
        margin-right: 10px; 
        background-color:  #ebebeb; 
        color: #777; 
    padding: 20px;}
    
    .h1{
        margin-top: 10px;
        margin-bottom: 10px; 
        margin-left: 10px;
        margin-right: 10px; 
        background-color:  #ebebeb; 
        color: #777; 
    padding: 20px;;
    }
    


    #footer { 
    clear: both;
    background-color: #ebebeb ; 
    font-family: Arial, Helvetica, sans-serif; 
    color: #777; 
    width: 959px;
    font-size: 18px;
    margin-top: 100px;
    margin-left: 28;
    text-align: center; 
    padding-top: 22px;
    height: 73px;
    }